---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h3>
				個人ブログ開設
			</h3>
			<div>
				<h4>
					使用技術
				</h4>
				<ul>
					<li>Astro</li>
					<li>MicroCMS</li>
					<li>Cloudflare</li>
				</ul>
			</div>
		</main>
		<Footer />
	</body>
</html>
